*{
    margin: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;    
}
.container{
    height: 50vh;
    width: 20vw;
    background-color: rgb(37, 108, 159);
}
.menu{
    height: 100%;
    width: 20%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
a{  
    font-size: 2rem;
    color: rgb(7, 29, 48);
    width: 100%;
    height: 20%;
    text-decoration: none;
    font-weight: 800;
    display: none;

}
p{
    color: antiquewhite;
    margin: 1rem auto;
    font-size: 3rem;
    
}

.menu:hover{

    width: 100%;
    transition: all .3s;
}
.menu:hover a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
}
a:hover{
    background-color: rgb(34, 34, 138);
}
.menu:hover p{
    display: none;
}